.line1 {
    width:10%;
    margin: auto;
    line-height: 1.5;
  }
  .line2 {
    width: 20%;
    margin: auto;
    line-height: 1.5;
  }
  
  .line3 {
    width: 30%;
    margin: auto;
    line-height: 1.5;
  }
  
  .line4 {
    width: 40%;
    margin: auto;
    line-height: 1.5;
  }
  
  .line5 {
    width: 50%;
    margin: auto;
    line-height: 1.5;
  }
  
  .line6 {
    width:60%;
    margin: auto;
    line-height: 1.5;
  }
  .line7 {
    width:70%;
    margin: auto;
    line-height: 1.5;
  }
  .line8 {
    width: 80%;
    margin: auto;
    line-height: 1.5;
  }
  .line9 {
    width: 90%;
    margin: auto;
    line-height: 1.5;
  }
  .line10 {
    width: 100%;
    margin: auto;
    line-height: 1.5;
  }
  