:root {
  --headline1-color: #41414;
  --headline2-color: #06800f;
  --black-color: #000;
  --primary-color: #06800f;
  --white-color: #fff;
  --white-color-2: #f3f3f3;
  --red-color: #bd0513;
  --background-color-1: #ec88b9;
  --background-color-2: #fcdfeb;
  --background-circle: #eac9d9;
}

@font-face {
  font-family: lovepen;
  src: url(/assest/font/VL_Lovepen\ Regular.otf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
.row > * {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 0;
}
.wrapper {
  /* width: 1200px; */
  margin: auto;
}

.line {
  margin: 6px auto;
  line-height: 1.5;
}

.line-2 {
  margin: 10px auto;
  line-height: 1.5;
}

.line-3 {
  margin: 15px auto;
  line-height: 1.5;
}

.line-4 {
  margin: 20px auto;
  line-height: 1.5;
}
.line-5 {
  margin: 30px auto;
  line-height: 1.5;
}

.b-g {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ladi-container {
  max-width: 1960px;
  margin: auto;
}
.ladi {
  width: 100%;
  background-image: url("/assest/image/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  /* height: 100vh; */
  /* filter: brightness(105%) hue-rotate(35deg); */
}

.ladi-headline1-a {
  font-family: "Quicksand", sans-serif;
  color: var(--headline1-color);
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  font-weight: 600;
  text-transform: uppercase;
}

.ladi-headline1-b {
  font-family: "Quicksand", sans-serif;
  color: var(--headline1-color);
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  font-weight: 700;
  /* text-transform: capitalize; */
}

.ladi-headline2 {
  font-family: "Lobster", cursive;
  color: var(--headline2-color);
  font-size: 65px;
  text-align: center;
  line-height: 1;
}

.ladi-headline3 {
  color: var(--black-color);
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}

.ladi-headline3-a {
  color: var(--black-color);
  font-size: 23px;
  text-align: center;
  line-height: 1.6;
}

.ladi-headline4 {
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--headline1-color);
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  font-weight: 700;
}

.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 0;
  font-weight: 700;
}

.image-intro_app {
  height: 520px;
  width: 100%;
  border-radius: 20px;
  margin: 30px 0;
  position: relative;
  object-fit: contain;
}

.image-do-spa {
  position: absolute;
  bottom: -185px;
  right: 29px;
  height: 30%;
  object-fit: contain;
}

.category-wrap {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category .icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  text-align: center;
  margin: 15px 0;
}

.section-3,
.section-5 .title {
  color: var(--primary-color);
}

.intro-element {
  margin: auto;
  /* width: 1200px; */
}

.intro-element > .row {
  align-items: center;
  margin: 50px 0;
}

.intro-element .title {
  color: var(--red-color);
  font-size: 22px;
  font-weight: 700;
  text-align: start;
  margin-bottom: 20px;
  text-transform: unset;
}
.list-info,
.info-list-item {
  width: 100%;
  display: flex;
  gap: 10px;
  line-height: 1.5;
  align-items: center;
}

.list-info h5 {
  font-size: 16px;
  margin-bottom: 0;
  margin: 7px 0;
}

.check {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bolder;
}

.info-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.section-4 {
  padding: 40px 40px;
}

.ladi-card-wrap {
  margin-top: 30px;
  justify-content: space-between;
}

.ladi-card {
  background-color: var(--background-color-2);
  border-radius: 5px;
  width: 30%;
  position: relative;
  overflow: hidden;
  /* height: 516px; */
  display: flex;
  flex-direction: column;
}

.ladi-card::after {
  content: "";
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50rem;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: var(--background-circle);
}
.ladi-card img {
  margin: 20px;
  border-radius: 10px;
  position: relative;
  height: 97px;
  width: 115px;
  z-index: 10;
  object-fit: cover;
}

.ladi-card > h5 {
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 1px;
  width: 80%;
  margin-left: 20px;
  height: 190px;
  max-height: 200px; /* Fallback số dòng bạn muốn giới hạn */
}
.ladi-card h3 {
  font-family: "lovepen";
  color: #06800f;
  font-size: 50px;
  margin: 10px 0 0 20px;
  line-height: 1.7;
}
.ladi-card .bottom-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ladi-card .bottom-card h5 {
  font-style: italic;
  margin-bottom: 20px;
  line-height: 35px;
}
.ladi-card .bottom-card i {
  font-size: 30px;
  color: var(--background-color-1);
}

.intro-mobile-info {
  margin: auto;
  align-items: center;
}

.intro-mobile-info img {
  height: 700px;
  object-fit: cover;
}

.info-list-group {
  margin: 50px 0;
}

.service {
  background-color: var(--white-color-2);
  padding: 50px 0;
}

.service-wrap {
  margin-top: 49px;
}

.service-item {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  margin: auto;
}

.service-item .headding {
  /* line-height: 20px; */
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.service-item i {
  color: var(--primary-color);
  font-size: 20px;
  position: relative;
  top: 4px;
}

.service-item .info {
  height: 100px;
  max-height: 130px;
}

.service-item .info p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 1200px) {
  .info-image {
    height: 450px;
  }
}
@media (max-width: 1030px) {
  .info-image {
    width: 100%;
    height: 311px;
    object-fit: cover;
  }
  .service-item .info {
    height: 130px;
    max-height: 130px;
  }
  .ladi-card > h5 {
    height: 220px;
    max-height: 220px;
  }
  .info-list {
    padding-right: 40px;
  }
}
@media (max-width: 770px) {
  .category-wrap {
    width: 90%;
  }
  .section-4 {
    padding: 40px 20px;
  }
  .ladi-card {
    width: 32%;
  }
  .ladi-card > h5 {
    height: 240px;
    max-height: 240px;
  }
  .ladi-card .bottom-card h5 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .service-item {
    margin-top: 38px;
  }
}

@media (max-width: 500px) {
  .ladi-headline1-a {
    font-size: 23px;
  }
  .ladi-headline1-b {
    font-size: 23px;
  }
  .ladi-headline2 {
    font-size: 50px;
  }
  .button {
    font-size: 18px;
  }
  .image-intro_app {
    height: 201px;
  }
  .intro-element .title {
    font-size: 19px;
    /* margin-left: 20px; */
    padding: 0 20px;
  }
  .list-info {
    padding: 0 20px;
  }
  .ladi-card {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }
  .ladi-card > h5 {
    height: 170px;
    max-height: 240px;
  }
  .info-list {
    padding: 20px;
  }
  .info-list-group {
    margin: 30px 0;
  }
  .intro-mobile-info img {
    height: 600px;
    object-fit: cover;
  }
  .service-wrap {
    margin-top: 0;
  }
}
